.news_block {
    border-bottom: 1px solid #dfdfdf;
    line-height: 1.1;
    padding: .5em 0;
}
.news_preview{
   font-size: 150%
}

#news_container{
    width:500px
}
a.news_link{
text-decoration: none;
    cursor: pointer;
    color: #282828;
}
#choose_count{
    margin-top: 50px;
}

.site-index h1{
    margin-bottom: 20px;
}

.for_user a.news_link:hover{
text-decoration: underline;
}
